<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GORMiti Blog</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <h1>GORMiti Blog</h1>
    <p>L'univers légendaire des GORMiti</p>
  </div>
  <div class="container">
    <div class="row">
      {{ range .posts }}
      <div class="col-md-6">
        <div class="card post-card">
          <a href="/post/{{ .ID }}">
            <img src="{{ .Image }}" class="card-img-top" alt="{{ .Title }}">
          </a>
          <div class="card-body post-content">
            <h2 class="card-title">{{ .Title }}</h2>
            <p class="card-text">{{ .Teaser }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2025 GORMiti Website. Aucun droits réservés.</p>
  </div>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
