<!DOCTYPE html>
<html>
    <head>
        <title>CurlMania</title>
        <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}">

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid flex-column mt-2">
                    <a class="navbar-brand mx-auto" href="{{url_for('index')}}">
                        <img src="{{url_for('static', filename='images/icon.png')}}" alt="Logo" class="d-block mx-auto" style="height: 45px;">
                        <h1 class="mt-2">CurlMania</h1>
                    </a>
                </div>
            </nav>
        </header>
        <hr>
        <main class="flex-grow-1">
            <div class="container text-center w-50">
                <h2 class="mt-1">🌸 Bienvenue {{user_agent}} dans le joyeux monde des requetes 🌸</h2>
                <hr>
                <div class="container w-75 rounded" id="rules">
                    <h3><u>📜 Regle(s) 📜</u></h3>
                    <h5>Les commandements sont les suivants:</h5>
                    {% for rule in rules %}
                        <p>🔹{{rule|safe}}</p>
                    {% endfor %}
                </div>
                {% if flag %}
                <hr>
                <h3>🎉 Bravo! Voici ton flag: <span class="badge bg-success">{{flag}}</span> 🎉</h3>
                <img src="{{url_for('static', filename='images/mad.gif')}}" alt="mad" class="img-fluid" style="height: 300px;">
                {% endif %}
            </div>
        </main>

        <footer class="text-center pt-3">
            <div class="container">
                <p>CurlMania &copy; 2025</p>
                <p>Suivez les regles et RTFM!</p>
            </div>
        </footer>
    </body>
</html>
